@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dosis:wght@200..800&display=swap');


*{
    font-family: "Dosis", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}